/*
 * Tables and Lists - Tables, post listing, and tag listing components
 */

/*
 * The <table> HTML element represents tabular data—that is, information presented
 * in a two-dimensional table comprised of rows and columns of cells containing data.
 */

table {
  border-radius: 8px;
  border-collapse: collapse;
  background-color: color-mix(in srgb, var(--color-author) 5%, transparent);
  width: 100%;
  overflow: hidden;

  tr {
    &:nth-child(even) {
      background-color: color-mix(in srgb, var(--color-author) 5%, transparent);
    }

    th,
    td {
      padding: 0.5rem 1rem;
    }

    th {
      background-color: color-mix(
        in srgb,
        var(--color-author) 10%,
        transparent
      );
      font-weight: bold;
      text-align: left;
    }
  }
}

.table-scroll {
  overflow-x: auto;
}
