ul.tag-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flow-list-column-gap);
  row-gap: var(--flow-list-row-gap);
  padding-left: 0;
  list-style: none;
}

ul.tag-list li {
  display: inline;
}

ul.tag-list .current-tag {
  /*
   * We use `position: relative` here so we can use `position: absolute` in the
   * ::before and ::after pseudo-elements.
   */
  position: relative;
  color: var(--color-clickable-selected);
}

/*
 * Using `display: inline-block` prevents the text decoration from applying to
 * the ::before and ::after pseudo-elements.
 *
 * We use `position: absolute` so that the brackets we add around the currently
 * selected tag don't shift the layout. It's frustrating for users when
 * clicking a button/link shifts the layout of the buttons on the page.
 */

ul.tag-list .current-tag::before {
  content: "[";
  position: absolute;
  display: inline-block;

  /*
   * Otherwise, the opening bracket will overlap the first character of the
   * tag.
   */
  left: -0.7ch;
}

ul.tag-list .current-tag::after {
  content: "]";
  position: absolute;
  display: inline-block;
}

ul.tag-list .all-link::before {
  content: "(";
  display: inline-block;
}

ul.tag-list .all-link::after {
  content: ")";
  display: inline-block;
}
