/* 
 * Eurofurnce font type
 */

@font-face {
  font-family: Eurofurence;
  src: url("/font/EurofurenceNerdFont-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Eurofurence;
  src: url("/font/EurofurenceNerdFont-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Eurofurence;
  src: url("/font/EurofurenceNerdFont-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Eurofurence;
  src: url("/font/EurofurenceNerdFont-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}
