{% extends "page.html" %} {% block content %}
<h3>Posts:</h3>
<ul>
  {% for page in section.pages %}
  <li>
    <span class="publish-date"
      >{% set datetime_format = "%e %b %Y" %}
      <time datetime="{{ page.date }}"
        >{{ page.date | date(format='%Y-%m-%d') }}</time
      >
    </span>
    <span class="post-tags"
      >{% if page.taxonomies.tags %} {% for tag in page.taxonomies.tags %} {{
      tag }} {% endfor %}
    </span>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <div class="page-description">
      {{ page.description | markdown(inline=true) | safe }}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
