{% extends "page.html" %} {% block content %}
<title>Asher's Site</title>
<div class="profile-banner">
  <img
    class="image-circle-mask"
    width="400"
    src="/images/avitar.jpeg"
    alt="Asher"
  />
</div>
<div class="page-body">
  {{ get_page(path="home.md") | get(key="content") | safe }}
</div>
<section
  id="theme-picker"
  class="page-tail"
  aria-labelledby="theme-picker-title"
>
  <p id="theme-picker-title">Select a color scheme for the site.</p>
  <ul class="tag-list">
    <li>
      <button class="theme-button" data-theme="dracula">Dracula</button>
    </li>
    <li>
      <button class="theme-button" data-theme="reed">Reed</button>
    </li>
    <li>
      <button class="theme-button current-tag" data-theme="marrok">
        Marrok
      </button>
    </li>
  </ul>
</section>
{% endblock content %}
